
/* Main Structure
-------------------------------------------------- */
html {
  /* This is required in order to make the footer stick to the bottom..*/
  /* There is a js function that controls the bottom margin...*/
  position: relative;
  min-height: 100%;
}

body {
  /* Necessary due to the fixed navbar...*/
  margin-top: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-header{
  margin: 20px 0 20px;
}

#spinner {
  color: #fff;
  display:none;
}


/* Navbar
-------------------------------------------------- */
.navbar-nav > li > a.nav_github_icon {
  padding-top: 0;
  padding-bottom: 0;
}

.fa-github {
  color: #fff;
  padding-top: 11px;
  padding-bottom: 11px;
}


/* Jumbotron
-------------------------------------------------- */
.jumbotron {
  padding: 45px;
}

.input_seq-label {
  font-size: 26px;
}

.show_examples_text {
  font-size: 17px;
}

#protein_example, #genetic_example {
  cursor: pointer;
}

#adv_params_btn {
  margin-top: 5px;
}

#input_btn {
  margin-top: 20px;
}

label, .radio label, .checkbox label, .help-block {
  font-size: 15px;
}

.checkbox.inline.no_indent+.checkbox.inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}
.checkbox.inline.no_indent:last-child {
  margin-right: 0px;
}

label.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}

label.radio-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}

.has-error .help-block, .has-error .control-label, .has-error .form-control-feedback {
  color:#ffa3a6;
}

.form-control {
  background-color: #D8ECFF;
}

textarea::-webkit-input-placeholder {
   color: #2b3e50 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
   color: #2b3e50 !important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #2b3e50 !important;  
}

textarea:-ms-input-placeholder {  
   color: #2b3e50 !important;  
}


/* Table
-------------------------------------------------- */
.table {
  color: #333;
}

.table thead tr {
  border-bottom: 3px solid #DDD;
}

.table td {
  font-size: 13px !important;
  border-color: rgb(221, 221, 221) !important;
}

.table-bordered {
  border: none;
}

.danger {
  background-color: rgb(242, 222, 222) !important;
}

.danger:hover {
  background-color: rgb(242, 203, 203) !important;
}

.success {
  background-color: rgb(223, 240, 216) !important;
}

.success:hover{
  background-color: rgb(204, 228, 200) !important;
}

.alert-info {
  background-color: rgb(217, 237, 247);
  border-color: rgb(188, 232, 241);
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  box-sizing: border-box;
  color: rgb(49, 112, 143);
  display: block;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.explanation_alert p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
}

.plot_btn {
  background-color: rgb(217, 237, 247);
  border-color: rgb(188, 232, 241);
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  box-sizing: border-box;
  color: rgb(49, 112, 143);
  display: block;
  padding: 10px;
}

.plot_btn:hover {
  background-color: #c0e3ff;
  color: rgb(49, 112, 143);
    border-color: rgb(188, 232, 241);
  border-style: solid;
  border-width: 1px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border:none;
} 

.table-bordered>tbody>tr {
  border-bottom: 2px solid #DDD;
} 

.error_header {
  margin-top: 10px;
}

/* Footer
-------------------------------------------------- */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 93, 108);
}

/* for the text in the footer */
.container .text-muted {
  color: rgba(255, 255, 255, 0.7);
  margin: 20px 0;
}


/* GeneValidator Results...
-------------------------------------------------- */
.explanation_alert{
  margin-bottom: 0;
}

/* TABLE
___________________________*/

.table-responsive {
  overflow-x: auto;
}

.table td {
  vertical-align: middle !important;
  border-collapse: collapse;
  background-clip: padding-box;
  text-align: left;

}

.table th,
.table thead td {
  background-color: #E8E8E8;
  white-space: nowrap;
}

tr {
  height: 39px;
  background-color: rgba(241, 248, 255, 1);
}

.expanded-child{
  display: block;
  text-align: center;
}

/* table striped backgrounds ___________*/

/*tbody > tr:nth-child(4n+1), tbody > tr:nth-child(4n+2) {
}
*/
/* table sorter ___________*/


.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  border-bottom: #000 3px solid !important;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  border-bottom: #000 3px solid !important;
}
.tablesorter-default thead .sorter-false {
  background-image: none;
  cursor: default;
  padding: 4px;
}

/* table processing indicator */
.tablesorter-default .tablesorter-processing {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* table icons ___________*/

.table tbody td.success,
.table tbody td.danger,
.table tbody td.warning {
  padding-left:30px !important; 
  position:relative;
}

.table tbody td.success:before,
.table tbody td.danger:before,
.table tbody td.warning:before {
  font-family: FontAwesome;
  position: absolute;
  margin-left:-25px;
  font-size: 1.5em;
  margin-top: -0.75em;
  top:50%;
}

.table tbody td.success:before {
  content: "\f058";
  color:#1AA882;
}

.table tbody td.danger:before {
  content: "\f057";
  color:#FC585A;
}

.table tbody td.warning:before{
  content: "\f06a";
  color:#FCB83F;
}

.table tbody td.success,
.table tbody td.danger {
  cursor: pointer !important;
}

/* Tooltips
___________________________*/

.tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #CCCCCC;
  max-width:275px;
}

.tooltip.top > .tooltip-arrow {
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #CCC
}
  
/* D3Js & Axis
___________________________*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  opacity:0.7;
}

.line1 {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity:0.5;
}

svg:not(:root) {
  overflow: visible;
}

svg {
  margin:15px;
}

/* Ratings...
___________________________*/

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
  font-family: FontAwesome;
  content: "\f005\f005\f005\f005\f005";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* Other
___________________________*/

.menu_icon {
  padding-left: 10px;
  font-weight: bold;
}

#toggle {
  text-align:center;
}

.tooltip-inner {
  white-space: pre-wrap;
  min-width: 100px;
}

#report {
  text-align: left;
}


/* Responsive CSS
___________________________*/

@media (min-width: 768px) {
  #input_btn {
    margin-top: -40px;
  }

  .container{
    width:90%;
  }
}


/* Browser Specific 
___________________________*/

/* Border on Stars ________*/
/* Webkit-text-stroke not support on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}
/* IE */
<!--[if IE]>
/*This will work for IE*/
.full-stars{
  color: #ECBE24;
}
<![endif]-->